{% load static %}



<body>
  {% include "basic/navbar-dark.html" %}

  
  <div class="main-content">
    <!-- Header (v2) -->  
    <div id="headers-header-3" title="headers/header-3.html">
      <section class="slice slice-lg bg-gradient-primary" data-offset-top="#header-main">
        <div class="container py-6 py-lg-0 d-flex align-items-center position-relative zindex-100">
          <div class="col">
            <div class="row">
              <div class="col-xl-5 col-lg-6 align-self-center">
                <div class="text-center text-lg-left pb-5">
                  <h2 class="h1 text-white mb-4">We are creating<br> <span class="text-info typed" id="type-example-1" data-type-this="websites., portals., e-shops."></span></h2>
                  <p class="lead lh-180 text-white">You want to create a web portal? Take advantage of our support! We will help you develop functionality based on your idea, and then we will design and implement a website for you that will attract users and make them stay there longer.
 
                  </p>
               
                </div>
              </div>
              <div class="col-lg-6 ml-lg-auto align-self-end">
                <div class="position-relative" style="z-index: 10;">
                  <div class="col-lg-15 d-none d-lg-block">
                    <div class="card bg-section-secondary mt-7 mb-0 py-5 px-4 shadow-lg perspective-right hover-scale-110">
                      <div class="card-body">
                        <h2 class="heading h2">
                          <strong>What we can do</strong> for you?
                        </h2>
                        <p class="lead lh-180 mt-4">We are a software company that offers IT services in several categories.
                          We create customized systems, which help in the work and develop the business of our customers.
                          As Software House we meet the technological and performance challenges, flexibly and effectively approaching
                          to the task, while saving you all the trouble of IT.
                          
                          Build your product or application with us. Send us a description and we'll get back to you within 24 hours.
                          
                          </p>
                    
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="shape-container" data-shape-position="bottom">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1600 220" preserveAspectRatio="none" class="ie-shape-wave-3">
            <path d="M918.34,99.41C388.23,343.6,47.11,117.12,0,87.54V220H1600V87.54C1378.72-76.71,1077.32,27.41,918.34,99.41Z"></path>
          </svg>
        </div>
      </section>
    </div>
    
    <!-- Features (v8) -->
    <section class="slice slice-lg">
      <div class="container">
        <div class="row row-grid">
          <div class="col-lg-4">
            <div class="text-center">
              <div class="px-4 py-5">
                <a href="pages/landing/index.html">
                  <img alt="Image placeholder" src="{% static 'assets/img/svg/illustrations/financial-data.svg' %}" class="img-fluid" style="height:190px;">
                </a>
              </div>
              <div class="px-4 pb-4">
                <h5>
                  <a href="#">Awesome design</a>
                </h5>
                <p class="text-muted"></p>
                
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="text-center">
              <div class="px-4 py-5">
                <a href="pages/landing/index.html">
                  <img alt="Image placeholder" src="{% static 'assets/img/svg/illustrations/following.svg' %}" class="img-fluid" style="height:190px;">
                </a>
              </div>
              <div class="px-4 pb-4">
                <h5>
                  <a href="#">Intuitive CMS</a>
                </h5>
                <p class="text-muted"></p>
                
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="text-center">
              <div class="px-4 py-5">
                <a href="pages/landing/index.html">
                  <img alt="Image placeholder" src="{% static 'assets/img/svg/illustrations/teaching.svg' %}" class="img-fluid" style="height:190px;">
                </a>
              </div>
              <div class="px-4 pb-4">
                <h5>
                  <a href="#">Helpful build tools</a>
                </h5>
                <p class="text-muted"></p>

              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Features (v9) -->

    <!-- Swiper (v1) -->

    <!-- Features (v10) -->
    <section class="slice slice-lg">
      <div class="container">
        <div class="mb-5 text-center">
          <h3 class=" mt-4">Reasons to work with us</h3>
          <div class="fluid-paragraph mt-3">
            <p class="lead lh-180">Always looking for better ways to do things, innovate and help people achieve their goals.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="card hover-shadow-lg hover-scale-110">
              <div class="card-body py-4">
                <div class="d-flex align-items-start">
                  <div class="icon text-primary rounded-circle">
                    <i class="fas fa-terminal"></i>
                  </div>
                  <div class="icon-text pl-4">
                    <h5 class="ma-0 ">Customizable with a few clicks</h5>
                    <p class="mb-0">We provide a personalised CMS, customised to your needs.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="card hover-shadow-lg hover-scale-110">
              <div class="card-body py-4">
                <div class="d-flex align-items-start">
                  <div class="icon text-primary rounded-circle">
                    <i class="fas fa-expand"></i>
                  </div>
                  <div class="icon-text pl-4">
                    <h5 class="ma-0 ">Fully responsive on any device</h5>
                    <p class="mb-0">We create websites suitable for all resolutions and devices. </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="card hover-shadow-lg hover-scale-110">
              <div class="card-body py-4">
                <div class="d-flex align-items-start">
                  <div class="icon text-primary rounded-circle">
                    <i class="fas fa-star"></i>
                  </div>
                  <div class="icon-text pl-4">
                    <h5 class="ma-0 ">Brining new features constantly</h5>
                    <p class="mb-0">We will inform you of any new feature that may increase your sales. </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="card hover-shadow-lg hover-scale-110">
              <div class="card-body py-4">
                <div class="d-flex align-items-start">
                  <div class="icon text-primary rounded-circle">
                    <i class="fas fa-smile-wink"></i>
                  </div>
                  <div class="icon-text pl-4">
                    <h5 class="ma-0 ">Built around your suggestions</h5>
                    <p class="mb-0">We know that only with good cooperation we can achieve something special. </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    
  </div>
  
  <!-- Core JS - includes jquery, bootstrap, popper, in-view and sticky-kit -->
  <script src="{% static 'assets/js/purpose.core.js'%}"></script>
  <!-- Page JS -->
  <script src="{% static 'assets/libs/swiper/dist/js/swiper.min.js'%}"></script>
  <script src="{% static 'assets/libs/@fancyapps/fancybox/dist/jquery.fancybox.min.js' %}"></script>
  <!-- Purpose JS -->
  <script src="{% static 'assets/libs/typed.js/lib/typed.min.js'%}"></script>

  <script src="{% static 'assets/js/purpose.js' %}"></script>
  <!-- Demo JS - remove it when starting your project -->
  <script src="{% static 'assets/js/demo.js' %}"></script>
</body>
{% include "basic/footer.html" %}

</html>