{% load static %}



<body>
  {% include "basic/navbar-dark.html" %}
  <!-- Omnisearch -->

  <div class="main-content">
    <!-- Header (services) -->
    <section class="slice slice-lg pb-300 bg-gradient-primary">
      <div class="container pt-6 pt-lg-9">
        <div class="row">
          <div class="col-lg-7">
            <h1 class="display-4 text-white lh-110">Professional digital services</h1>
            <p class="lead mb-4 text-white mt-4">We are a professional digital agency providing premium themes, UI/UX design and web apps that you will simply love.</p>
            <div class="mt-5">
              
            </div>
          </div>
        </div>
      </div>
      <div class="shape-container" data-shape-position="bottom">
        <img alt="Image placeholder" src="{% static 'assets/img/svg/shapes/curve-1.svg' %}" class="svg-inject">
      </div>
    </section>
    <section class="slice slice-lg pt-0">
      <div class="container">
        <div class="row ">
          <div class="col-lg-3 mt--200">
            <div class="card hover-translate-y-n10 hover-shadow-lg">
              <div class="px-4 py-5">
                <img alt="Image placeholder" src="{% static 'assets/img/icons/essential/detailed/Code.svg' %}" class="svg-inject" style="height: 60px; width: auto;">
              </div>
              <div class="px-4 pb-5">
                <h5>Development</h5>
                <p class="text-muted">Website development is our main activity, that we have been doing for many years We create websites, shops and portals!</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 mt--200">
            <div class="card hover-translate-y-n10 hover-shadow-lg">
              <div class="px-4 py-5">
                <img alt="Image placeholder" src="{% static 'assets/img/icons/essential/detailed/Apps.svg' %}" class="svg-inject" style="height: 60px; width: auto;">
              </div>
              <div class="px-4 pb-5">
                <h5>Mobile Apps</h5>
                <p class="text-muted">We offer comprehensive services of creating mobile applications. We provide design, programming, testing and distribution.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 mt--200">
            <div class="card hover-translate-y-n10 hover-shadow-lg">
              <div class="px-4 py-5">
                <img alt="Image placeholder" src="{% static 'assets/img/icons/essential/detailed/Pen_tool.svg' %}" class="svg-inject" style="height: 60px; width: auto;">
              </div>
              <div class="px-4 pb-5">
                <h5>UI/UX Design</h5>
                <p class="text-muted">Creating the desired image in the minds of your audience is one of the most important marketing objectives.
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 mt--200">
            <div class="card hover-translate-y-n10 hover-shadow-lg">
              <div class="px-4 py-5">
                <img alt="Image placeholder" src="{% static 'assets/img/icons/essential/detailed/Cash.svg' %}" class="svg-inject" style="height: 60px; width: auto;">
              </div>
              <div class="px-4 pb-5">
                <h5>Marketing</h5>
                <p class="text-muted">Effective marketing is the key to success in business! Even with the best product, you can easily disappear among other similar offers.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section-process">
      <div class="section-process-step">
        <div class="container">
          <div class="row row-grid align-items-center justify-content-between">
            <div class="col-xl-5 col-lg-6 order-lg-2">
              <div class="pr-md-4">
                <h3 class="mt-4">Websites, Portals, Online Shops.</h3>
                <p class="lead my-4">Creating unique websites, e-shops and www portals is for us a combination of modern internet technologies, high visual appearance and ease of use. Our applications will give you a real advantage over your competitors. Each project of websites, shops and portals is supervised by UX-designer and goes through consultations with programmers, guaranteeing you the highest level of project implementation, which will support your company in selling your services or products.
</p>
                
              </div>
            </div>
            <div class="col-lg-5 order-lg-1">
              <img alt="Image placeholder" src="{% static 'assets/img/theme/light/img-1-920x1100.jpg' %}" class="img-center img-fluid rounded-lg shadow-lg">
            </div>
          </div>
        </div>
      </div>
      <div class="section-process-step">
        <div class="container">
          <div class="row row-grid align-items-center justify-content-between">
            <div class="col-xl-5 col-lg-6">
              <div class="pr-md-4">
                <h3 class="mt-4">Mobile apps.</h3>
                <p class="lead my-4">We create apps for mobile devices such as iPhone or Android, which process data easily and quickly. Fast data transfer plays an essential role if you are a participant in the modern market. Our specialists, taking a step-by-step approach to the latest technological solutions, will tell you how to use your mobile devices to be at a level, or even two, higher than your competitors in business.</p>
              
              </div>
            </div>
            <div class="col-lg-5">
              <img alt="Image placeholder" src="{% static 'assets/img/theme/light/img-2-920x1100.jpg' %}" class="img-center img-fluid rounded-lg shadow-lg">
            </div>
          </div>
        </div>
      </div>
      <div class="section-process-step">
        <div class="container">
          <div class="row row-grid align-items-center justify-content-between">
            <div class="col-xl-5 col-lg-6 order-lg-2">
              <div class="pr-md-4">
                <h3 class="mt-4">Digital Strategy</h3>
                <p class="lead my-4">Appropriately designed logo, business card, leaflet, company briefcase, advertising folder - can support building your brand. The consistency of these elements guarantees image building and significantly increases brand recognition. This allows you to communicate the characteristics of your products without unnecessary words or descriptions - image creation guarantees that it is your product or service that will be remembered by the users and not your competitors' offer.</p>
                
              </div>
            </div>
            <div class="col-lg-5 order-lg-1">
              <img alt="Image placeholder" src="{% static 'assets/img/theme/light/img-3-920x1100.jpg' %}" class="img-center img-fluid shadow-lg rounded-lg">
            </div>
          </div>
        </div>
      </div>
      <div class="section-process-step">
        <div class="container">
          <div class="row row-grid align-items-center justify-content-between">
            <div class="col-xl-5 col-lg-6">
              <div class="pr-md-4">
                <h3 class="mt-4">Marketing Strategy.</h3>
                <p class="lead my-4">There is no such thing as a standard marketing strategy. There is only what works in your market and what doesn't. Do you think that traditional marketing (billboards, radio) doesn't work, and that activities in new media (blog posts, social media, etc.) are the only way? You are mistaken. Understand that something different is appropriate for each target group - depending on their needs. <p class="text-primary">OBJECTIVE.  RESEARCH. PREPARATION. SALE.</p></p>
               
              </div>
            </div>
            <div class="col-lg-5">
              <img alt="Image placeholder" src="{% static 'assets/img/theme/light/img-4-920x1100.jpg' %}" class="img-center img-fluid shadow-lg rounded-lg">
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Call to action (v5) -->
    
  </div>
 
  <!-- Core JS - includes jquery, bootstrap, popper, in-view and sticky-kit -->
  <script src="{% static 'assets/js/purpose.core.js' %}"></script>
  <!-- Purpose JS -->
  <script src="{% static 'assets/js/purpose.js' %}"></script>
  <!-- Demo JS - remove it when starting your project -->
  <script src="{% static 'assets/js/demo.js' %}"></script>
</body>
{% include "basic/footer.html" %}

</html>