{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% include "basic/head.html" %}
</head>

<body>
  {% include "basic/navbar-dark.html" %}
  
    <section class="slice">
      <div class="container">
        <div class="row row-grid">
          <div class="col-lg-6">
            <div data-toggle="sticky" data-sticky-offset="30">
              <a href="{{ object.img.url }}" data-fancybox>
                <img alt="Image placeholder" src="{{ object.img.url }}" class="img-fluid">
              </a>
              <div class="mt-4 text-center">
                <a href="{{ object.img.url }}" data-fancybox>View gallery</a>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="pl-lg-5">
              <!-- Product title -->
              <h5 class="h4">{{ object.name }}</h5>
              <h6 class="text-sm">Processor 256GB Storage</h6>
              <!-- Rating -->
              <div class="row align-items-center">
                <div class="col-6">
                  <span class="static-rating static-rating-sm d-block"><i class="star fas fa-star voted"></i>
                    <i class="star fas fa-star voted"></i>
                    <i class="star fas fa-star voted"></i>
                    <i class="star fas fa-star voted"></i>
                    <i class="star fas fa-star"></i></span>
                </div>
                <div class="col-6 text-right">
                  <ul class="list-inline mb-0">
                    <li class="list-inline-item">
                      <span class="badge badge-pill badge-soft-info">ID: #548970</span>
                    </li>
                    <li class="list-inline-item">
                      <span class="badge badge-pill badge-soft-success">In stock</span>
                    </li>
                  </ul>
                </div>
              </div>
              <!-- Description -->
              <div class="py-4 my-4 border-top border-bottom">
                <h6 class="text-sm">Description:</h6>
                <p class="text-sm mb-0">
                  {{ object.description }}
                </p>
              </div>
              <dl class="row">
                <dt class="col-sm-3"><span class="h6 text-sm mb-0">Display</span></dt>
                <dd class="col-sm-9"><span class="text-sm">13.3-inch LED-backlit display with IPS</span></dd>
                <dt class="col-sm-3"><span class="h6 text-sm mb-0">Processor</span></dt>
                <dd class="col-sm-9"><span class="text-sm">2.3GHz dual-core Intel Core i5, Turbo Boost up to 3.6GHz</span></dd>
                <dt class="col-sm-3"><span class="h6 text-sm mb-0">Camera</span></dt>
                <dd class="col-sm-9"><span class="text-sm">720p FaceTime HD camera</span></dd>
                <dt class="col-sm-3"><span class="h6 text-sm mb-0">Memory</span></dt>
                <dd class="col-sm-9"><span class="text-sm">8 GB RAM or 16 GB RAM</span></dd>
                <dt class="col-sm-3"><span class="h6 text-sm mb-0">Graphics</span></dt>
                <dd class="col-sm-9"><span class="text-sm">Intel Iris Plus Graphics 640</span></dd>
              </dl>
              <!-- Size -->
              <div class=" py-4 my-4 border-top border-bottom">
                <!-- Processor -->
                <h6>Processor</h6>
                <a href="#" class="text-sm">Which processor is right for you?</a>
                <div class="btn-group-toggle btn-group-options row mx-0 mt-3 mb-5" data-toggle="buttons">
                  <label class="btn btn-lg btn-neutral col-12 mb-2 text-left text-sm active">
                    <input type="radio" name="radio-processor" value="1" checked="">
                    2.6GHz 6‑core 8th‑generation Intel Core i7 processor, Turbo Boost up to 4.3GHz
                  </label>
                  <label class="btn btn-lg btn-neutral col-12 mb-2 mr-0 text-left text-sm">
                    <input type="radio" name="radio-processor" value="2">
                    2.9GHz 6‑core 8th‑generation Intel Core i9 processor, Turbo Boost up to 4.8GHz
                  </label>
                </div>
                <!-- Memory -->
                <h6 class="mt-5">Memory</h6>
                <a href="#" class="text-sm">How much memory is right for you?</a>
                <div class="btn-group-toggle btn-group-options row mx-0 mt-3 mb-5" data-toggle="buttons">
                  <label class="btn btn-lg btn-neutral col-12 mb-2 text-left text-sm">
                    <input type="radio" name="radio-memory" value="1" checked="">
                    16GB 2400MHz DDR4 memory
                  </label>
                  <label class="btn btn-lg btn-neutral col-12 mb-2 mr-0 text-left text-sm active">
                    <input type="radio" name="radio-memory" value="2">
                    32GB 2400MHz DDR4 memory
                  </label>
                </div>
                <!-- Storage -->
                <h6 class="mt-5">Storage</h6>
                <a href="#" class="text-sm">How much storage is right for you?</a>
                <div class="btn-group-toggle btn-group-options row mx-0 mt-3 mb-5" data-toggle="buttons">
                  <label class="btn btn-lg btn-neutral col-12 mb-2 text-left text-sm active">
                    <input type="radio" name="radio-storage" value="1" checked="">
                    512GB SSD storage
                  </label>
                  <label class="btn btn-lg btn-neutral col-12 mb-2 text-left text-sm">
                    <input type="radio" name="radio-storage" value="2">
                    1TB SSD storage
                  </label>
                  <label class="btn btn-lg btn-neutral col-12 mb-2 mr-0 text-left text-sm">
                    <input type="radio" name="radio-storage" value="3">
                    2TB SSD storage
                  </label>
                  <label class="btn btn-lg btn-neutral col-12 mb-2 mr-0 text-left text-sm">
                    <input type="radio" name="radio-storage" value="4">
                    4TB SSD storage
                  </label>
                </div>
                <div class="row align-items-center">
                  <div class="col-sm-6 mb-4 mb-sm-0">
                    <span class="d-block h3 mb-0">$2,600</span>
                    <a href="#" class="text-sm">Choose a financing option</a>
                  </div>
                  <div class="col-sm-6 text-sm-right">
                    <!-- Add to cart -->
                    <button type="button" class="btn btn-primary btn-icon">
                      <span class="btn-inner--icon"><i class="fas fa-shopping-bag"></i></span>
                      <span class="btn-inner--text">Add to bag</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="slice slice-lg delimiter-top" id="sct-suggested-products">
      <div class="container">
        <div class="mb-5 text-center">
          <h3 class="h6">Suggested products<i class="fas fa-angle-down text-xs ml-3"></i></h3>
        </div>
        <div class="row">
          <div class="col-lg-3 col-sm-6">
            <div class="card card-product">
              <div class="card-image">
                <a href="#">
                  <img alt="Image placeholder" src="{% static 'assets/img/theme/light/product-1.png' %}" class="img-center img-fluid">
                </a>
              </div>
              <div class="card-body text-center pt-0">
                <h6><a href="#">Home Base</a></h6>
                <p class="text-sm">
                  Customize your home experience with this product.
                </p>
                <span class="card-price">$129 USD</span>
                <div class="product-colors mt-3">
                  <a href="#" style="background-color: #59ad46;" data-toggle="tooltip" data-original-title="Green"></a>
                  <a href="#" style="background-color: #04050a;" data-toggle="tooltip" data-original-title="Black"></a>
                  <a href="#" style="background-color: #62aedd;" data-toggle="tooltip" data-original-title="Blueish"></a>
                  <a href="#" style="background-color: #e84385;" data-toggle="tooltip" data-original-title="Pink"></a>
                </div>
              </div>
              <div class="actions card-product-actions" data-animation-in="slideInLeft" data-animation-out="slideOutLeft">
                <button type="button" class="action-item" data-toggle="tooltip" data-original-title="Add to cart">
                  <i class="fas fa-shopping-bag"></i>
                </button>
                <button type="button" class="action-item" data-toggle="tooltip" data-original-title="Wishlist">
                  <i class="fas fa-heart"></i>
                </button>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="card card-product">
              <div class="card-image">
                <a href="#">
                  <img alt="Image placeholder" src="{% static 'assets/img/theme/light/product-2.png' %}" class="img-center img-fluid">
                </a>
              </div>
              <div class="card-body text-center pt-0">
                <h6><a href="#">Home Controller</a></h6>
                <p class="text-sm">
                  Customize your home experience with this product.
                </p>
                <span class="card-price">$49 USD</span>
                <div class="product-colors mt-3">
                  <a href="#" style="background-color: #59ad46;" data-toggle="tooltip" data-original-title="Green"></a>
                  <a href="#" style="background-color: #04050a;" data-toggle="tooltip" data-original-title="Black"></a>
                  <a href="#" style="background-color: #62aedd;" data-toggle="tooltip" data-original-title="Blueish"></a>
                  <a href="#" style="background-color: #e84385;" data-toggle="tooltip" data-original-title="Pink"></a>
                </div>
              </div>
              <div class="actions card-product-actions" data-animation-in="slideInLeft" data-animation-out="slideOutLeft">
                <button type="button" class="action-item" data-toggle="tooltip" data-original-title="Add to cart">
                  <i class="fas fa-shopping-bag"></i>
                </button>
                <button type="button" class="action-item" data-toggle="tooltip" data-original-title="Wishlist">
                  <i class="fas fa-heart"></i>
                </button>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="card card-product">
              <div class="card-image">
                <a href="#">
                  <img alt="Image placeholder" src="{% static 'assets/img/theme/light/product-3.png' %}" class="img-center img-fluid">
                </a>
              </div>
              <div class="card-body text-center pt-0">
                <h6><a href="#">Adapt Earphones</a></h6>
                <p class="text-sm">
                  Customize your home experience with this product.
                </p>
                <span class="card-price">$65 USD</span>
                <div class="product-colors mt-3">
                  <a href="#" style="background-color: #59ad46;" data-toggle="tooltip" data-original-title="Green"></a>
                  <a href="#" style="background-color: #04050a;" data-toggle="tooltip" data-original-title="Black"></a>
                  <a href="#" style="background-color: #62aedd;" data-toggle="tooltip" data-original-title="Blueish"></a>
                  <a href="#" style="background-color: #e84385;" data-toggle="tooltip" data-original-title="Pink"></a>
                </div>
              </div>
              <div class="actions card-product-actions" data-animation-in="slideInLeft" data-animation-out="slideOutLeft">
                <button type="button" class="action-item" data-toggle="tooltip" data-original-title="Add to cart">
                  <i class="fas fa-shopping-bag"></i>
                </button>
                <button type="button" class="action-item" data-toggle="tooltip" data-original-title="Wishlist">
                  <i class="fas fa-heart"></i>
                </button>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="card card-product">
              <div class="card-image">
                <a href="#">
                  <img alt="Image placeholder" src="{% static 'assets/img/theme/light/product-4.png' %}" class="img-center img-fluid">
                </a>
              </div>
              <div class="card-body text-center pt-0">
                <h6><a href="#">Smart Pixel 3</a></h6>
                <p class="text-sm">
                  Customize your home experience with this product.
                </p>
                <span class="card-price">$299 USD</span>
                <div class="product-colors mt-3">
                  <a href="#" style="background-color: #59ad46;" data-toggle="tooltip" data-original-title="Green"></a>
                  <a href="#" style="background-color: #04050a;" data-toggle="tooltip" data-original-title="Black"></a>
                  <a href="#" style="background-color: #62aedd;" data-toggle="tooltip" data-original-title="Blueish"></a>
                  <a href="#" style="background-color: #e84385;" data-toggle="tooltip" data-original-title="Pink"></a>
                </div>
              </div>
              <div class="actions card-product-actions" data-animation-in="slideInLeft" data-animation-out="slideOutLeft">
                <button type="button" class="action-item" data-toggle="tooltip" data-original-title="Add to cart">
                  <i class="fas fa-shopping-bag"></i>
                </button>
                <button type="button" class="action-item" data-toggle="tooltip" data-original-title="Wishlist">
                  <i class="fas fa-heart"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="slice slice-xl bg-cover bg-size--cover" style="background-image: url({% static 'assets/img/backgrounds/img-15.jpg' %}); background-position: center center;">
      <span class="mask bg-dark opacity-2"></span>
      <div class="container py-6">
        <div class="row justify-content-center">
          <div class="col-lg-6 col-xl-7 text-center">
            <div class="mb-5">
              <h1 class="text-white">Try a new experience</h1>
              <p class="lead text-white mt-2">You get all Bootstrap components fully customized. Besides, you receive another numerous plugins out of the box and ready to use.</p>
            </div>
            <a href="#" class="btn btn-white btn-icon rounded-pill shadow hover-shadow-lg hover-translate-y-n3">
              <span class="btn-inner--text">Get started</span>
              <span class="btn-inner--icon"><i class="fas fa-angle-right"></i></span>
            </a>
          </div>
        </div>
      </div>
    </section>
    <section class="slice-sm bg-primary">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 mb-4 mb-lg-0">
            <div class="px-4 py-3 text-lg-center">
              <h6 class="text-sm text-white text-uppercase ls-1">Free shipping in 48/72H</h6>
              <p class="text-white opacity-7">
                Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod
              </p>
            </div>
          </div>
          <div class="col-lg-4 mb-4 mb-lg-0">
            <div class="px-4 py-3 text-lg-center">
              <h6 class="text-sm text-white text-uppercase ls-1">Free returns</h6>
              <p class="text-white opacity-7">
                Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod
              </p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="px-4 py-3 text-lg-center">
              <h6 class="text-sm text-white text-uppercase ls-1">Secure payment</h6>
              <ul class="list-inline mt-2">
                <li class="list-inline-item">
                  <img alt="Image placeholder" src="{% static 'assets/img/icons/cards/visa.png' %}" width="30">
                </li>
                <li class="list-inline-item">
                  <img alt="Image placeholder" src="{% static 'assets/img/icons/cards/mastercard.png' %}" width="30">
                </li>
                <li class="list-inline-item">
                  <img alt="Image placeholder" src="{% static 'assets/img/icons/cards/maestro.png' %}" width="30">
                </li>
                <li class="list-inline-item">
                  <img alt="Image placeholder" src="{% static 'assets/img/icons/cards/paypal.png' %}" width="30">
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  
  {% include "basic/footer.html" %}
  <!-- Core JS - includes jquery, bootstrap, popper, in-view and sticky-kit -->
  {% include "basic/java-script.html" %}

</body>

</html>