{% load static %}
<section class="slice slice-lg bg-section-secondary" id=sct-call-to-action><a href="#sct-call-to-action" class="tongue tongue-up tongue-section-primary" data-scroll-to>
  <i class="fas fa-angle-up"></i>
</a>
<div class="container">
  <div class="row justify-content-center align-items-center">
    <div class="col-lg-8 text-center">
      <h3 class="font-weight-400">I am ready to start a new project with <span class="font-weight-700">TG & DC Code</span>.</h3>
      <div class="mt-5">
        <a href="https://themes.getbootstrap.com/product/purpose-website-ui-kit/" class="btn btn-primary rounded-pill hover-translate-y-n3">
          Call now
        </a>
        <a href="{% static 'docs/index.html" class="btn btn-link" data-toggle="tooltip" data-placement="bottom" title="">Send Email</a>
      </div>
    </div>
  </div>
</div>
</section>
<footer class="footer footer-dark bg-gradient-primary" id="footer-main">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 mb-5 mb-lg-0">
        <a href="{% static 'index.html'%}">
          <img src="{% static 'assets/img/brand/logo.png'%}" alt="Footer logo" style="height: 55px;">
        </a>
        <p class="text-sm"></p>
      </div>
      <div class="col-lg-2 col-6 col-sm-4 ml-lg-auto mb-5 mb-lg-0">
        <h6 class="heading mb-3">Account</h6>
        <ul class="list-unstyled">
          <li><a href="{% static 'pages/account-profile.html'%}">Profile</a></li>
          <li><a href="{% static 'pages/account-settings.html'%}">Settings</a></li>
          <li><a href="{% static 'pages/account-billing.html'%}">Billing</a></li>
          <li><a href="{% static 'pages/account-notifications.html'%}">Notifications</a></li>
        </ul>
      </div>
      <div class="col-lg-2 col-6 col-sm-4 mb-5 mb-lg-0">
        <h6 class="heading mb-3">About</h6>
        <ul class="list-unstyled text-small">
          <li><a href="#">Services</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">Careers</a></li>
        </ul>
      </div>
      <div class="col-lg-2 col-sm-4 mb-5 mb-lg-0">
        <h6 class="heading mb-3">Company</h6>
        <ul class="list-unstyled">
          <li><a href="#">Terms</a></li>
          <li><a href="#">Privacy</a></li>
          <li><a href="#">Support</a></li>
        </ul>
      </div>
    </div>
    <div class="row align-items-center justify-content-md-between py-4 mt-4 delimiter-top">
      <div class="col-md-6">
        <div class="copyright text-sm font-weight-bold text-center text-md-left">
          &copy; 2020 <a href="" class="font-weight-bold" target="_blank"></a>All rights reserved.
        </div>
      </div>
      <div class="col-md-6">
        <ul class="nav justify-content-center justify-content-md-end mt-3 mt-md-0">
          <li class="nav-item">
            <a class="nav-link" href="https://dribbble.com/" target="_blank">
              <i class="fab fa-dribbble"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="https://instagram.com/" target="_blank">
              <i class="fab fa-instagram"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://github.com/" target="_blank">
              <i class="fab fa-github"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://facebook.com/" target="_blank">
              <i class="fab fa-facebook"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>