{% load static %}
<section class="slice slice-lg bg-section-secondary" id=sct-call-to-action><a href="#sct-call-to-action" class="tongue tongue-up tongue-section-primary" data-scroll-to>
  <i class="fas fa-angle-up"></i>
</a>
<div class="container">
  <div class="row justify-content-center align-items-center">
    <div class="col-lg-8 text-center">
      <h3 class="font-weight-400">I am ready to start a new project with <span class="font-weight-700">TG & DC Code</span>.</h3>
      <div class="mt-5">
        <a href="tel:07729276285" class="btn btn-primary rounded-pill hover-translate-y-n3">
          Call now
        </a>
        <a href="mailto:office@dwdagency.uk" class="btn btn-link" data-toggle="tooltip" data-placement="bottom" title="">Send Email</a>
      </div>
    </div>
  </div>
</div>
</section>
<footer class="footer footer-dark bg-gradient-primary" id="footer-main">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 mb-5 mb-lg-0">
        <a href="{% static 'index.html'%}">
          <h1 class="text-white">DwD Agency</h1>         </a>
        <p class="text-sm">
          TG & DC CODE LTD <br>Company No:11659323 <br>3 Hesketh Road, Ribbleton <br> Preston PR2 6NS

        </p>
      </div>
      <div class="col-lg-2 col-6 col-sm-4 ml-lg-auto mb-5 mb-lg-0">
        <h6 class="heading mb-3">Menu</h6>
        <ul class="list-unstyled">
          <li><a href="{% url 'app:services' %}">Services</a></li>
          <li><a href="{% url 'app:portfolio' %}">Portfolio</a></li>
          <li><a href="{% url 'app:contact' %}">Contact</a></li>
        </ul>
      </div>
      <div class="col-lg-2 col-6 col-sm-4 mb-5 mb-lg-0">
        <h6 class="heading mb-3">Reviews</h6>
        <ul class="list-unstyled text-small">
          <li><a href="https://www.google.com/search?rlz=1C5CHFA_enGB874GB874&sxsrf=ALeKk01SqUbBrhBv1UJaOT8n4FwVHXXryQ%3A1587308581269&ei=JWicXsGMENOsgQaynLB4&q=dwd+agency&oq=dwd+agency&gs_lcp=CgZwc3ktYWIQAzIECCMQJzIGCCMQJxATMgYIABAWEB5Q4xlY4xlg_RxoAXAAeACAAXaIAfYCkgEDNC4xmAEAoAEBqgEHZ3dzLXdpeg&sclient=psy-ab&ved=0ahUKEwiBs4qh4fToAhVTVsAKHTIODA8Q4dUDCAw&uact=5#lrd=0x4876192660ba1aef:0x3792f0e49bbdcf81,1,,,">Facebook</a></li>
          <li><a href="#">Google </a></li>
        </ul>
      </div>
      <div class="col-lg-2 col-sm-4 mb-5 mb-lg-0">
        <h6 class="heading mb-3">Language</h6>
        <ul class="list-unstyled">
          <li><a href="https://www.facebook.com/danywebdesign/reviews/">English</a></li>
        </ul>
      </div>
    </div>
    <div class="row align-items-center justify-content-md-between py-4 mt-4 delimiter-top">
      <div class="col-md-6">
        <div class="copyright text-sm font-weight-bold text-center text-md-left">
          &copy; 2020 <a href="" class="font-weight-bold" target="_blank"></a>All rights reserved.
        </div>
      </div>
      <div class="col-md-6">
        <ul class="nav justify-content-center justify-content-md-end mt-3 mt-md-0">
         
          <li class="nav-item">
            <a class="nav-link active" href="https://www.instagram.com/danywebdesign/" target="_blank">
              <i class="fab fa-instagram"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://github.com/pydanielthon/" target="_blank">
              <i class="fab fa-github"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.facebook.com/danywebdesign" target="_blank">
              <i class="fab fa-facebook"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>